<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.crossword">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Wordle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Crossword">
        <activity
            android:name=".CustomKeyboardActivity"
            android:exported="false" />
        <activity
            android:name=".TestAct"
            android:exported="false" />
        <activity
            android:name=".KeyboardTesting"
            android:exported="false"
            />
        <activity
            android:name=".LossActivity"
            android:exported="false" />
        <activity
            android:name=".WinActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>